################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Caliburn Micro/Caliburn Micro/obj/Debug
/Caliburn Micro/Caliburn Micro/bin/Debug
